* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*navbar CSS starts*/
a img {
    width: 227px;
}

.navbar {
    background-color: black;
    position: sticky;
}

.top {
    position: fixed;
    width: 100%;
}

.nav-link {
    font-size: 18px;
    margin: 0px 23px;
    color: white;
    padding: 14px;
}

.navbar-nav {
    margin-left: 116px;
}

.nav-link:hover {
    font-weight: bold;
    box-shadow: 0px 0px 5px #33ffff,0px 0px 5px #66ffff;
    border-radius: 5px;
    color: cyan;
}

i {
    margin-right: 8px;
}

.fa {
    color: white;
}

    .fa:hover {
        color: cyan;
    }

/*navbar CSS ends*/


#bg {
    position: fixed;
    background-image: url("../Images/logonewnew.png");
    background-size: 150px;
    margin-right: 8px;
    width: 100vw;
    height: 100vh;
    opacity: 0.09;
    z-index: -1;
}

.logo {
    width: 523px;
    height: auto;
    display: block;
    margin: 0px auto;
}

.simple {
    width: 814px;
    height: 216px;
    display: block;
    margin: 0px auto;
}

p {
    margin-left: 20px;
}

ul {
    margin-left: 40px;
}

h1 {
    font-weight: 650;
}

#loading { /*loader starts*/
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: #fff no-repeat;
}

#ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 0 #262626;
    background: transparent;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0 deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#text1 {
    margin-left: -50px;
    color: black;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 800;
    margin-left: -180px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: rgba(54,219,219,1) rgba(54,219,219,1) transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        padding: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent rgba(242,209,124,1) rgba(242,209,124,1);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
/*For Loading*/
.loader1 {
    font-size: 28px;
    padding-left: 5px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #263238;
    box-sizing: border-box;
    text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
    letter-spacing: 2px;
    position: relative;
}

    .loader1::after {
        content: 'Loading';
        position: absolute;
        left: 5px;
        top: 0;
        color: rgba(54,219,219,1);
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        animation: animloader 2s linear infinite;
    }

@keyframes animloader {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
/* loader ends */
