* {
    padding: 0;
    margin: 0;
    color: black;
    font-size: 15px;
    font-family: 'Baloo Bhai 2', cursive;
}
/*navbar CSS starts*/
a img {
    width: 227px;
}

.navbar {
    background-color: black;
    position: sticky;
}

.top {
    position: fixed;
    width: 100%;
}

.nav-link {
    font-size: 18px;
    margin: 0px 23px;
    color: white;
    padding: 14px;
}

.navbar-nav {
    margin-left: 116px;
}

.nav-link:hover {
    font-weight: bold;
    box-shadow: 0px 0px 5px #33ffff,0px 0px 5px #66ffff;
    border-radius: 5px;
    color: cyan;
}

i {
    margin-right: 8px;
}

.fa {
    color: white;
}

    .fa:hover {
        color: cyan;
    }

/*navbar CSS ends*/
.landing {
    margin-top: 97px;
}

    .landing::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(242,209,124);
        background: radial-gradient(circle, rgba(242,209,124,1) 0%, rgba(54,219,219,1) 100%);
        z-index: -1;
    }

.main {
    background: white;
}



td {
    font-size: 16px;
}

input, textarea {
    background: transparent;
    width: 317px;
    border-radius: 14px;
    text-align: center;
    border: 3px solid black;
}

    input:hover {
        border-radius: 24px;
    }

.myButton {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: black !important;
    font-weight: bold;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
    margin: 5px 10px;
    width: 172px;
}

    .myButton:hover {
        background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color: #bab1ba;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }


/*
.buttons{


  
    margin:auto;
 
    
}*/
.navbar {
    top: 0;
    cursor: pointer;
}

.heading {
    text-align: center;
}


.footersection {
    width: 100%;
    height: auto;
    padding: 70px 0 15px 0;
    background-image: url("../Images/2.png") !important;
    background-size: cover;
    position: relative;
}

    .footersection p {
        color: white;
    }

    .footersection li a {
        font-size: 0.9rem;
        line-height: 1.6;
        font-weight: 400;
        color: white;
        text-transform: capitalize;
    }

    .footersection h3 {
        text-transform: uppercase;
        color: white;
        margin-bottom: 25px;
        font-size: 1.2rem !important;
        font-weight: 600;
        text-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }

/*--thank you pop starts here--*/
a {
    text-decoration: none !important;
}

.thank-you-pop {
    width: 100%;
    padding: 20px;
    text-align: center;
}

    .thank-you-pop img {
        width: 76px;
        height: auto;
        margin: 0 auto;
        display: block;
        margin-bottom: 25px;
    }

    .thank-you-pop h1 {
        font-size: 42px;
        margin-bottom: 25px;
        color: #5C5C5C;
    }

    .thank-you-pop p {
        font-size: 20px;
        margin-bottom: 27px;
        color: #5C5C5C;
    }

    .thank-you-pop h3.cupon-pop {
        font-size: 25px;
        margin-bottom: 40px;
        color: #222;
        display: inline-block;
        text-align: center;
        padding: 10px 20px;
        border: 2px dashed #222;
        clear: both;
        font-weight: normal;
    }

        .thank-you-pop h3.cupon-pop span {
            color: #03A9F4;
        }

#ignismyModal .modal-header {
    border: 0px;
}
/*--thank you pop ends here--*/
#loading { /*loader starts*/
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: #fff no-repeat;
}

#ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 0 #262626;
    background: transparent;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0 deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#text1 {
    margin-left: -50px;
    color: black;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 800;
    margin-left: -180px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: rgba(54,219,219,1) rgba(54,219,219,1) transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        padding: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent rgba(242,209,124,1) rgba(242,209,124,1);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
/*For Loading*/
.loader1 {
    font-size: 28px;
    padding-left: 5px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #263238;
    box-sizing: border-box;
    text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
    letter-spacing: 2px;
    position: relative;
}

    .loader1::after {
        content: 'Loading';
        position: absolute;
        left: 5px;
        top: 0;
        color: rgba(54,219,219,1);
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        animation: animloader 2s linear infinite;
    }

@keyframes animloader {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
/* loader ends */
