* {
    padding: 0;
    margin: 0;
    color: black;
    font-size: 15px;
    font-family: 'Baloo Bhai 2', cursive;
}

a img {
    width: 227px;
}
.next{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:5px;
}
.navbar {
    background-color: black;
    position: sticky;
}

.top {
    position: fixed;
    width: 100%;
}

.nav-link {
    font-size: 18px;
    margin: 0px 23px;
    color: white;
    padding: 14px;
}

.navbar-nav {
    margin-left: 116px;
}

.nav-link:hover {
    font-weight: bold;
    box-shadow: 0px 0px 5px #33ffff,0px 0px 5px #66ffff;
    border-radius: 5px;
    color: cyan;
}

i {
    margin-right: 8px;
}

.fa {
    color: white;
}

    .fa:hover {
        color: cyan;
    }

body {
    background: rgb(242,209,124);
    background: radial-gradient(circle, rgba(242,209,124,1) 0%, rgba(54,219,219,1) 100%);
}

.main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mainButtons {
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

    .mainButtons:hover {
        background-color: #50d1c0;
        color: white;
        transform: translateY(10);
    }

.hello {
    display: block;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 24px;
}
/*footer css starts*/

.footersection {
    width: 100%;
    height: auto;
    padding: 70px 0 15px 0;
    background-image: url("../Images/2.png") !important;
    background-size: cover;
    position: relative;
    top: 400px;
}

    .footersection p {
        color: white;
    }

    .footersection li a {
        font-size: 0.9rem;
        line-height: 1.6;
        font-weight: 400;
        color: white;
        text-transform: capitalize;
    }

    .footersection h3 {
        text-transform: uppercase;
        color: white;
        margin-bottom: 25px;
        font-size: 1.2rem !important;
        font-weight: 600;
        text-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }
/*footer css ends*/
#loading { /*loader starts*/
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: #fff no-repeat;
}

#ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 0 #262626;
    background: transparent;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0 deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#text1 {
    margin-left: -50px;
    color: black;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 800;
    margin-left: -180px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: rgba(54,219,219,1) rgba(54,219,219,1) transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        padding: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent rgba(242,209,124,1) rgba(242,209,124,1);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
/*For Loading*/
.loader1 {
    font-size: 28px;
    padding-left: 5px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #263238;
    box-sizing: border-box;
    text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
    letter-spacing: 2px;
    position: relative;
}

    .loader1::after {
        content: 'Loading';
        position: absolute;
        left: 5px;
        top: 0;
        color: rgba(54,219,219,1);
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        animation: animloader 2s linear infinite;
    }

@keyframes animloader {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
/* loader ends */
