* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("../Images/pic.png");
}
.buttons {
    display: flex;
    justify-items: flex-end;
    position: relative;
    top: 15px;
    left: 10px;
}

#Button7 {
    position: absolute;
    right: 19px;
}

.reg-box {
    width: 600px;
    height: 515px;
    position: absolute;
    top: 40%;
    left: 50%;
    color: #192a56;
    transform: translate(-50%,-50%);
    background-image: url("../Images/double.png");
    border-radius: 40px 5px 40px 5px;
    box-shadow: 8px 8px 8px rgb(96,61,157);
    cursor: pointer;
    font-size: 1.2rem;
}

#Panel1 {
    z-index: 11;
}

#Button3 {
    width: 245px;
}

.auto-style1 {
    text-align: center;
}

.auto-style2 {
    width: 100%;
}

#loading {
    /loader starts/ display:flex;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: #fff no-repeat;
}

#ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 0 #262626;
    background: transparent;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0 deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#text1 {
    margin-left: -50px;
    color: black;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 800;
    margin-left: -180px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: rgba(54,219,219,1) rgba(54,219,219,1) transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        padding: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent rgba(242,209,124,1) rgba(242,209,124,1);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/For Loading/
.loader1 {
    font-size: 28px;
    padding-left: 5px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #263238;
    box-sizing: border-box;
    text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
    letter-spacing: 2px;
    position: relative;
}

.loader1::after {
    content: 'Loading';
    position: absolute;
    left: 5px;
    top: 0;
    color: rgba(54,219,219,1);
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
/* loader ends */
.myButton {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: black !important;
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
    margin: 5px 10px;
    width: 172px;
}

    .myButton:hover {
        background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color: #bab1ba;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

input[type=text] {
    background: transparent;
    width: 200px;
    border-radius: 3px;
    border-bottom: 3px solid rgb(255,165,0);
    border-left: none;
    border-right: none;
    border-top: none;
    color: white;
    text-align: center;
}
